/* Definindo Variáveis */
:root {
    --primary-color: #1E3A8A;
    --secondary-color: #10B981;
    --accent-color: #059669;
    --light-bg: #FFFFFF;
    --dark-bg: #F3F4F6;
    --text-color: #1E3A8A;
    --button-bg: #3B82F6;
    --button-hover-bg: #2563EB;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover-color: rgba(0, 0, 0, 0.2);
    --border-color: #d1d5db;
    --radius: 8px;
}

/* Reset de Estilos Básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark-bg);
    color: var(--text-color);
    line-height: 1.6;
}

/* Menu de Navegação */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--light-bg);
    box-shadow: 0 2px 4px var(--shadow-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin: 0 25px;
}

.navbar-menu a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-menu a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

/* Container Principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Banner de Destaque */
.banner-destaque {
    background-color: var(--primary-color);
    color: var(--light-bg);
    padding: 100px 20px;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 4px solid var(--secondary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-destaque h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

/* Ajuste para dispositivos móveis */
@media (max-width: 768px) {
    .banner-destaque h1 {
        font-size: 2.5rem; /* Ajuste o tamanho conforme necessário */
        margin-bottom: 15px;
    }

    .banner-destaque p {
        font-size: 1.2rem; /* Ajuste o tamanho conforme necessário */
    }

    .banner-destaque .btn {
        font-size: 1rem; /* Ajuste o tamanho conforme necessário */
        padding: 10px 20px; /* Ajuste o padding conforme necessário */
    }
}

.banner-destaque p {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.banner-destaque .btn {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: var(--secondary-color);
    color: var(--light-bg);
    text-decoration: none;
    border-radius: var(--radius);
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.banner-destaque .btn:hover {
    background-color: var(--accent-color);
}

/* Seções */
section {
    margin-bottom: 60px;
    padding: 40px;
    background-color: var(--light-bg);
    border-radius: var(--radius);
    box-shadow: 0 6px 12px var(--shadow-color);
}

/* Títulos das Seções */
h2 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 0px;
    font-weight: 600;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 10px;
}

/* Seção Sobre os Planos */
.planos-lista, .recursos-lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.plano, .recurso {
    background-color: var(--light-bg);
    border-radius: var(--radius);
    padding: 25px;
    box-shadow: 0 6px 12px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plano:hover, .recurso:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--shadow-hover-color);
}

.plano h3, .recurso h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.plano ul, .recurso ul {
    list-style: disc;
    margin-left: 20px;
}

.plano .btn, .recurso a {
    background-color: var(--secondary-color);
    color: var(--light-bg);
    padding: 12px 24px;
    border-radius: var(--radius);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
}

.plano .btn:hover, .recurso a:hover {
    background-color: var(--accent-color);
    text-decoration: underline;
}

/* Seção de Depoimentos */
#depoimentos {
    text-align: center;
}

#depoimentos h2 {
    margin-bottom: 30px;
}

.carrossel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.depoimento {
    flex: 1 0 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #f9f9f9;
    border-radius: var(--radius);
    text-align: center;
    min-width: 300px;
}

/* Estilos para Formulários */
form input, form select, form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    font-size: 1rem;
}

form button {
    background-color: var(--button-bg);
    color: var(--light-bg);
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--button-hover-bg);
}

footer {
    background-color: var(--primary-color);
    color: var(--light-bg);
    text-align: center;
    padding: 30px 20px;
    margin-top: 60px;
    border-top: 4px solid var(--secondary-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-address p {
    margin: 5px 0;
}


/* Estilo para o botão de fechamento do pop-up */
.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.close-popup:hover {
    color: var(--secondary-color);
}

/* Estilo do pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: var(--light-bg);
    padding: 30px;
    border-radius: var(--radius);
    position: relative;
    width: 90%;
    max-width: 500px;
    font-size: 0.9rem; /* Ajuste o tamanho da fonte aqui */
}

.popup-content p {
    font-size: 1rem; /* Ajuste o tamanho da fonte do texto do parágrafo aqui */
    margin-bottom: 20px;
}

.popup-content form input,
.popup-content form button {
    font-size: 0.9rem; /* Ajuste o tamanho da fonte dos inputs e botões aqui */
}

/* Seção de Suporte Técnico */
.suporte-tecnico {
    background-color: var(--light-bg);
    padding: 60px 20px;
    border-radius: var(--radius);
    box-shadow: 0 4px 8px var(--shadow-color);
    margin-bottom: 60px;
}

.suporte-tecnico h2 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.suporte-tecnico p {
    color: var(--text-color);
    font-size: 1.1rem;
    margin-bottom: 30px;
    text-align: center;
}

.formulario-suporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.formulario-suporte label {
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: 600;
}

.formulario-suporte input,
.formulario-suporte textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    font-size: 1rem;
}

.formulario-suporte button {
    background-color: var(--button-bg);
    color: var(--light-bg);
    padding: 12px 30px;
    border: none;
    border-radius: var(--radius);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-suporte button:hover {
    background-color: var(--button-hover-bg);
}

.contato-direto {
    text-align: center;
}

.contato-direto h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.contato-direto p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Estilos gerais para o formulário */
form {
    max-width: 600px; /* Largura máxima do formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; /* Espaçamento interno do formulário */
    border: 1px solid #ddd; /* Borda ao redor do formulário */
    border-radius: 8px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Cor de fundo do formulário */
  }
  
  /* Estilos para labels */
  label {
    display: block; /* Faz com que cada label ocupe a linha inteira */
    margin-bottom: 10px; /* Espaçamento abaixo de cada label */
    font-weight: bold; /* Torna o texto da label em negrito */
  }
  
  /* Estilos para campos de input e textarea */
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%; /* Largura total do campo */
    padding: 10px; /* Espaçamento interno do campo */
    border: 1px solid #ccc; /* Borda ao redor do campo */
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
    margin-bottom: 15px; /* Espaçamento abaixo dos campos */
  }
  
  /* Estilos para o botão de envio */
  button[type="submit"] {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Cursor em forma de mão ao passar sobre o botão */
    font-size: 16px; /* Tamanho da fonte do botão */
  }
  
  /* Estilos para o botão de envio ao passar o mouse */
  button[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  }
  
  .whatsapp-header {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Certifique-se de que o ícone esteja acima de outros elementos */
}
.whatsapp-header {
    position: fixed;
    bottom: 590px; /* Muda de 20px para 80px para elevar o ícone */
    right: 20px;
    z-index: 1000; /* Mantém o ícone acima de outros elementos */
}

.whatsapp-icon {
    font-size: 2em; /* Tamanho do ícone */
    color: #25D366; /* Cor do ícone do WhatsApp */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-decoration: none; /* Remove sublinhado do link */
}

.whatsapp-icon:hover {
    transform: scale(3.1); /* Efeito ao passar o mouse */
}
